<!DOCTYPE html>
<html>
    <head>
        <title>BookStore</title>
        style
            include ../static/css/about.css

        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css', integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==', crossorigin='anonymous', referrerpolicy='no-referrer')
        
    </head>
    <body>
        <div class="about">

            <div class="logo">
                <img src="static/book-store.jpg">
            </div>
            <div class="about_tag" >
                <a href="/home" style="text-decoration: none;color: #000"><h1 >About Us</h1></a><br>
                <h4>
                |   The Co-Founder of BookStore is Vivek Wadher & Deval Jadav
                </h4>
                
                <p>
                |    Welcome to our BookStore, where literary enthusiasts embark on a captivating journey through the realms of imagination and knowledge. 
                |   As we celebrate our one-year anniversary, we take pride in curating a diverse collection of books that cater to every reader's taste and preference. 
                |   Our passion for literature extends beyond mere commerce; it's a commitment to fostering a community of avid readers who seek solace, inspiration, and enlightenment within the pages of a well-crafted book. 
                </p>
                <p>
                |   Thank you for being a part of our journey over the past year, and here's to many more chapters together!
                </p>
            </div>
    
        </div>
    </body>
</html>