<!DOCTYPE html>
<html>
<head>
    <title>BookStore</title>
    style
        include ../static/css/style.css

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css', integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
</head>
<body>
    <section>
        <nav>
            <div class="logo">
                <a href="/home"><img src="../static/book-store.jpg"></a>
            </div>
            <div class="search_tag">
                <input type="text" placeholder="Search..">
            </div> 
            <ul>
                <div class="dropdown">
                    <button class="dropbtn">Books</button>
                    <div class="dropdown-content">
                      <a href="/spirituality">Spirituality Books</a>
                      <a href="/motivation">Motivation Books</a>
                      <!-- <a href="/adventure">Adventure  Books</a> -->
                    </div>
                </div>  
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="main">
            <div class="main_tag">
                <h1>WELCOME TO BOOK STORE</h1>
                <p>
                |    All type of books are available here.......
                </p>
            </div>
        </div>
    </section>
    <div class="services">
        <div class="services_box">
            <div class="services_card">
                <i class="fa-solid fa-truck-fast"></i>
                <h3>Fast Delivery</h3>
            </div>
            <div class="services_card">
                <i class="fa-solid fa-headset"></i>
                <h3>24 x 7 Services</h3>
            </div>
            <div class="services_card">
                <i class="fa-solid fa-tag"></i>
                <h3>Best Deal</h3>
            </div>
            <div class="services_card">
                <i class="fa-solid fa-lock"></i>
                <h3>Secure Payment</h3>
            </div>
        </div>
    </div>
</body>
</html>