body {font-family: Arial, Helvetica, sans-serif;}
.about{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;   }
.about .logo img{
    width: 300px;
    border-color: #089da1;
    border: 1px solid #089da1;
    box-shadow: 0 0 20px #089da1;
    background: #fff;   }
.about .about_tag h1{
    font-weight: bold;
    font-size: 35px;
    position: relative;}
.about .about_tag p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;}
.about .about_tag .about_btn{
    padding: 10px 20px;
    background: #089da1;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 50px;}
section .search_tag {
 text-align: center;}
