body {font-family: Arial, Helvetica, sans-serif;}
*{box-sizing: border-box;}        
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;}       
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}            
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}            
input[type=submit]:hover {
  background-color: #45a049;}            
input[type=reset] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}            
input[type=reset]:hover {
  background-color: #45a049;}            
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;}            
.about{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;}
.about .logo img{
  width: 300px;
  border-color: #089da1;
  border: 1px solid #089da1;
  box-shadow: 0 0 20px #089da1;
  background: #fff;}
.about .about_tag h1{
  font-weight: bold;
  font-size: 35px;
  position: relative;}
.about .about_tag p{
  line-height: 22px;
  width: 650px;
  text-align: justify;
  margin-bottom: 15px;}
.about .about_tag .about_btn{
  padding: 10px 20px;
  background: #089da1;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 50px;}
section .search_tag {
text-align: center;}          